        .gate {

            width: 80px;
            height: 120px;
            background-color: rgba(0, 0, 0, 0.653);
            color: white;
            text-align: center;
            margin: 20px;
            position: relative;
            top: 0px;
            left: 0px;
            transform: translateX(0px);
            transform: translateY(0px);
            


        }

        .nodes{
            height: 20px;
            width: 20px;

            
            
            
        }
        .input1{
            background-color: red;
            top: 70%;
            margin: 5px;
            position: absolute;
        }
        .input2{
            background-color: rgb(211, 131, 56);
            margin: 5px;
            position: absolute;
            

        }
        .output{
            background-color: green;
            margin: 5px;
            left: 62%;
            top: 40%;
            position: absolute;
        }

        

        .controls {
            width: 110px;
            height: 150px;
           
            position: absolute;
            display: flex;
            flex-direction: column;
            right: -22%;
            top: -11%;
            opacity: .4;
            visibility: visible;
            background-color: red;
        }

        

        .controls .X {
            
            width: 30px;
            height: 50px;
            top: 34%;
            position: relative;
            right: -74%;
        }

        .controls .-X {
            
            width: 30px;
            height: 50px;
            position: absolute;
            right: 74%;
            top: 34%;
        }

        .controls .Y {
            width: 30px;
            height: 50px;
            position: absolute;
            right: 38%;
        }

        .controls .-Y {
            width: 30px;
            height: 50px;
            position: relative;
            bottom: -33%;
            left: 37%;
        }

        .container {
            border: 5px solid black;
            margin: 30px 0px;
            padding: 20px;
            width: auto;
        }




        .genrate {
            display: flex;
            gap: 10px;
            border: 5px solid black;
            height: 30vh;
        }

        .btn {
            height: 50px;
            width: 100px;
        }

        .overlay {
            outline: 3px solid red;
        }